/*!**************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/sass/style.scss ***!
  \**************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap);
/*!******************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/sass/style.scss (1) ***!
  \******************************************************************************************************************/
html {
  font-size: 100%;
  box-sizing: border-box;
}
@media (max-width: 23.56125em) {
  html {
    font-size: 80%;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Red Hat Display", sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

h1, h2, h3 {
  margin-top: 0;
  line-height: 1.1;
}

p {
  margin-top: 0;
}

:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(0, 0%, 96%);
  --text-gray: hsl(0, 0%, 62%);
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

.card {
  max-width: 80%;
  background-color: var(--white);
  border-radius: 0.5rem;
  overflow: hidden;
  text-align: center;
  z-index: 3;
}
@media (min-width: 37.5em) {
  .card {
    max-width: 23.4375rem;
  }
}
.card__image {
  width: 100%;
}
.card__content {
  padding: 1rem;
}
.card__title {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 900;
}
.card__discription {
  font-size: 0.875rem;
  line-height: 1.5;
  text-align: center;
  color: var(--text-gray);
}
.card__plan {
  background-color: var(--very-pale-blue);
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0.625rem;
  border-radius: 0.5rem;
  padding: 1rem 0.5rem;
  margin-bottom: 0.875rem;
}
.card__plan-price {
  margin: 0;
}
.card__plan-price span {
  display: block;
}
.card__plan-price--title {
  margin-bottom: 0.5rem;
  font-weight: 900;
}
.card__plan-price--amount {
  color: var(--text-gray);
}
.card__plan-change:hover {
  text-decoration: none;
}
.card__payment-btn {
  display: block;
  margin: 0 auto;
  margin-bottom: 1.375rem;
  width: 100%;
  border-radius: 0.5rem;
  background-color: var(--bright-blue);
  border: none;
  cursor: pointer;
  transition: all ease 0.3s;
}
.card__payment-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 38px, rgba(0, 0, 0, 0.22) 0px 10px 12px;
}
.card__cancel-order-btn {
  font-size: 0.875rem;
  text-decoration: none;
  margin-bottom: 1.5rem;
  font-weight: 700;
  color: var(--text-gray);
  cursor: pointer;
}

.btn {
  color: var(--white);
  padding: 1rem 2rem;
}

body {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: var(--pale-blue);
  overflow: hidden;
}

.body-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzNzUiIGhlaWdodD0iMTk0Ij48cGF0aCBmaWxsPSIjRDZFMUZGIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0tMTMxLjgwOCAxNTUuMzY2Yzk3LjAyNiA1MS41MTIgMjA0LjIzMyA1MS41MTIgMzIxLjYyIDAgMTE3LjM4OC01MS41MTIgMjIzLjI3LTUxLjUxMiAzMTcuNjQ4IDBWMGgtNjM5LjI2OHYxNTUuMzY2eiIvPjwvc3ZnPg==);
  background-repeat: no-repeat;
  background-size: 100%;
}
@media (min-width: 800px) {
  .body-background {
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDQwIiBoZWlnaHQ9IjQzNyI+PHBhdGggZmlsbD0iI0Q2RTFGRiIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNMCAzNDkuOTc0YzIxOC41NTggMTE2LjAzNSA0NjAuMDUgMTE2LjAzNSA3MjQuNDc1IDBzNTAyLjkzMy0xMTYuMDM1IDcxNS41MjUgMFYwSDB2MzQ5Ljk3NHoiLz48L3N2Zz4=);
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

.section-cards {
  max-width: 1140px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*# sourceMappingURL=main.css.map*/