@use "../utilities/" as u;

html {
  font-size: 100%;
  box-sizing: border-box;

  @include u.breakpoint-down("small") {
    font-size: 80%;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

