@use "./../utilities/" as u;
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

body {
  font-family: "Red Hat Display", sans-serif;
  font-size: u.rem(16);
  font-weight: 500;
}

h1, h2, h3 {
  margin-top: 0;
  line-height: 1.1;
}

p {
  margin-top: 0;
}